body {
	font-family: impact;
	color: yellow;
	text-align: center;
	background-image: url("images/pokemon-list.png");
}

form {
	top: 10px;
	position: relative;
	max-width: 300px;
	text-align: center;
}

#form{
	position: relative;
	background-color: #008080;
	border: 3px solid black;
	max-width: 300px;
	height: 300px;
	margin: auto;
	top: 20px;
}

#top {
	max-width: 300px;
	height: 300px;
	margin: auto;
}

.item {
	position: relative;
	top: 45px;
	margin-bottom: 20px;
}

#title {
	position: relative;
	top: 110px;
	text-align: center;
	text-shadow: -3px 0 blue, 0 3px blue, 3px 0 blue, 0 -3px blue;
}